/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.col-lg-1 {
  width: 78px;
}

.col-lg-2 {
  width: 180px;
}

.col-lg-3 {
  width: 282px;
}

.col-lg-4 {
  width: 384px;
}

.col-lg-5 {
  width: 486px;
}

.col-lg-6 {
  width: 588px;
}

.col-lg-7 {
  width: 690px;
}

.col-lg-8 {
  width: 792px;
}

.col-lg-9 {
  width: 894px;
}

.col-lg-10 {
  width: 996px;
}

.col-lg-11 {
  width: 1098px;
}

.col-lg-12 {
  width: 1200px;
}

@media (max-width: 375px) {
  .col-sm-1 {
    width: calc((100% - 45px) / 4 * 1 + 0px);
  }
  .col-sm-2 {
    width: calc((100% - 45px) / 4 * 2 + 15px);
  }
  .col-sm-3 {
    width: calc((100% - 45px) / 4 * 3 + 30px);
  }
  .col-sm-4 {
    width: calc((100% - 45px) / 4 * 4 + 45px);
  }
}
body {
  font-family: Roboto;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #891818;
  padding-right: 16px;
  vertical-align: middle;
}

header {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 958px;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}
@media (max-width: 590px) {
  header {
    height: 500px;
  }
}
header ul {
  display: flex;
  flex-direction: column;
  margin: auto;
}
header ul > li:first-child {
  padding-left: 45px;
}
header ul > li:nth-child(2) {
  font-size: 80px;
  text-align: center;
}
header ul > li:nth-child(3) {
  padding: 32px 0 40px 0;
  text-align: center;
}
header ul > ol {
  display: flex;
  margin: auto;
  -moz-column-gap: 16px;
       column-gap: 16px;
  flex-wrap: wrap;
}

.about {
  display: flex;
  padding: 56px 0;
}
.about img {
  margin: auto;
  padding: 40px 0 20px 0;
}
@media (max-width: 590px) {
  .about img {
    max-width: 90%;
  }
}
.about ul {
  margin: auto;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}
.about ul > li:nth-child(6) {
  padding: 15px 0;
}
.about hr {
  width: 384px;
  max-width: 100%;
  border: 1px solid #000;
}
.about ol {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.brand {
  background-color: #000;
  color: #fff;
  text-align: center;
}
.brand > ul {
  margin: auto;
  padding: 56px 0 160px 0;
}
@media (max-width: 590px) {
  .brand > ul {
    padding: 56px 0;
  }
}
.brand > ul > li:nth-child(2) {
  margin-top: 12px;
  font-size: 24px;
}
.brand > ul > li:nth-child(3) {
  margin: 32px 0 68px 0;
  font-size: 20px;
}
.brand > ul > ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
@media (max-width: 1200px) {
  .brand > ul > ol img {
    max-width: 100%;
    margin: auto;
  }
}
@media (max-width: 1200px) and (max-width: 590px) {
  .brand > ul > ol img {
    max-width: 80%;
    margin: auto;
  }
}
.brand > ul > ol > ul {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1200px) {
  .brand > ul > ol > ul {
    flex-direction: column;
    row-gap: 40px;
  }
}

.artwork {
  padding: 56px 0 144px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  font-size: 20px;
}
@media (max-width: 590px) {
  .artwork {
    padding: 56px 0;
  }
}
.artwork ul:first-child {
  display: flex;
  flex-direction: column;
}
.artwork ul:not(first-child) {
  margin: auto;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  text-align: center;
}
@media (max-width: 1200px) {
  .artwork ul:not(first-child) {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media (max-width: 590px) {
  .artwork ul:not(first-child) img {
    max-width: 80%;
    margin: auto;
    row-gap: 40px;
  }
}
.artwork ul:not(first-child) ol li:nth-child(2) {
  margin-top: 16px;
}
@media (max-width: 1200px) {
  .artwork ul:nth-child(2),
  .artwork ul:last-child {
    display: none;
  }
}
@media (max-width: 590px) {
  .artwork ul:nth-child(2),
  .artwork ul:last-child {
    display: block;
  }
  .artwork ul:nth-child(2) img,
  .artwork ul:last-child img {
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  .artwork ul:first-child li:last-child {
    display: none;
  }
}
@media (max-width: 590px) {
  .artwork ul:first-child li:last-child {
    display: block;
  }
}

footer {
  background-color: #000;
  color: #fff;
  height: 310px;
  text-align: center;
  display: flex;
}
footer ul {
  margin: auto;
}

.section-title {
  font-size: 64px !important;
  font-style: italic;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.contact li:not(first-child) {
  font-style: italic;
  font-size: 24px;
}/*# sourceMappingURL=all.css.map */